.head-container{
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-header{
    /* width: 350px; */
    width:auto;
    transition: width 2s ;
}

.image-header-expanded{
    width: 230px;
}

.image-header-contracted{
    width: 100px;
}