.name-card{
    color:rgb(233, 225, 240);
    background-color: rgb(141, 141, 237);
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow:0px 0px 5px;
    transition: background 0.35s;
    display: flex;
    justify-content: center;
    min-width: 75px;
    overflow-x: hidden;
}

.name-card:hover{
    background:rgb(49, 66, 101);
    box-shadow: 0 0 5px;
}

.suggestions{
    margin: 0;
    font-weight: 100;
}